<div class="app-content">
    <div class="app-title">
        <div class="div">
            <h1>
                <i class="fa fa-ticket" aria-hidden="true"></i>
                Asset Requisition Form
            </h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a class="fa fa-home fa-lg breadcrumb-home-link" (click)="goToDashboard()"></a>
            </li>
            <li class="breadcrumb-item"><span class="breadcrumb-item-router">Asset Requisition Form List</span></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-sm-12">
            <div class="tile">
                <h3 class="tile-title form-head-line-style">{{ assetRequisitionTitle }}
                </h3>
                <hr>
                <div class="tile-body">
                    <div class="row">

                        <div class="form-group col-sm-6">
                            <label class="control-label">Asset Category<b
                                    class="mandatory-field">*</b></label>
                            <ng-select [(ngModel)]="assetQuery.assetCategory"
                                       [ngModelOptions]="{standalone: true}"
                                       bindValue="value"
                                       bindLabel="key"
                                       placeholder="Select Asset"
                                       (ngModelChange)="getAllSubCategory()"
                                       [clearable]="false">
                                <ng-option value="" selected>Select Asset Category</ng-option>
                                <ng-option *ngFor="let Asset of assetCategoryTypes"
                                           [value]="Asset.value">{{Asset.key}}</ng-option>
                            </ng-select>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label">Asset Sub Category<b
                                    class="mandatory-field">*</b></label>
                            <ng-select [(ngModel)]="assetQuery.assetSubCategory"
                                       [ngModelOptions]="{standalone: true}"
                                       bindValue="value"
                                       bindLabel="key"
                                       placeholder="Select Sub Category"
                                       [clearable]="false">
                                <ng-option value="" selected>Select Sub Category</ng-option>
                                <ng-option *ngFor="let subCat of assetSubCategoryTypes"
                                           [value]="subCat.value">{{subCat.key}}</ng-option>
                            </ng-select>
                        </div>
<!--                        <div class="col-sm-6 form-group">-->
<!--                            <label class="control-label">Categories <b class="mandatory-field">*</b></label>-->
<!--                            &nbsp;-->
<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="radio" name="category" value="STATION"-->
<!--                                       [(ngModel)]="assetQuery.category" [ngModelOptions]="{standalone: true}"-->
<!--                                        checked>-->
<!--                                <label class="form-check-label">Station</label>-->
<!--                            </div>-->

<!--                            <div class="form-check form-check-inline">-->
<!--                                <input class="form-check-input" type="radio" name="category"-->
<!--                                       [(ngModel)]="assetQuery.category" [ngModelOptions]="{standalone: true}"-->
<!--                                       value="CENTRAL">-->
<!--                                <label class="form-check-label">Central</label>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="form-group col-sm-6">
                            <label class="control-label">Select Site<b
                                    class="mandatory-field">*</b></label>
                            <ng-select [(ngModel)]="assetQuery.siteId"
                                       [ngModelOptions]="{standalone: true}"
                                       bindValue="id"
                                       bindLabel="attrs.siteLable"
                                       placeholder="Select Site"
                                       (change)="getCustodianDetails()"
                                       [clearable]="false">
                                <ng-option value="" selected>Select Site</ng-option>
                                <ng-option *ngFor="let site of sitesStore"
                                           [value]="site.id">{{site.attrs.siteLable}}</ng-option>
                            </ng-select>
                        </div>

                        <div class="form-group col-sm-6">
                            <label class="control-label">Select Custodian Name<b
                                    class="mandatory-field">*</b></label>
                            <ng-select [(ngModel)]="assetQuery.custodianId"
                                       [ngModelOptions]="{standalone: true}"
                                       bindValue="id"
                                       bindLabel="custodianName"
                                       placeholder="Select Custodian Name"
                                       [clearable]="false">
                                <ng-option value="" selected>Select Custodian Name</ng-option>
                                <ng-option *ngFor="let data of custodianDetails"
                                           [value]="data.custodianId">{{data.custodianName}}</ng-option>
                            </ng-select>
                        </div>

<!--                        <div class="col-sm-6 form-group">-->
<!--                            <label class="control-label">Model</label>-->
<!--                            <input class="form-control form-control-sm" type="text"-->
<!--                                   [(ngModel)]="assetQuery.model"-->
<!--                                   [ngModelOptions]="{standalone: true}"-->
<!--                                   placeholder="Enter Model" required/>-->
<!--                        </div>-->
                        <div class="col-sm-6 form-group">
                            <label class="control-label">Quantity <b class="mandatory-field">*</b></label>
                            <input class="form-control form-control-sm" type="text"
                                   [(ngModel)]="assetQuery.quantity"
                                   [ngModelOptions]="{standalone: true}"
                                   placeholder="Enter Quantity" required/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="control-label">Asset Description <b class="mandatory-field">*</b></label>
                            <textarea class="form-control form-control-sm" type="text"
                                      rows="5" cols="50"
                                      [(ngModel)]="assetQuery.description"
                                      [ngModelOptions]="{standalone: true}"
                                      placeholder="Enter Asset Description" required></textarea>
                        </div>
                        <div class="col-sm-6 form-group text-left">
                            <label class="control-label">Shipping Address</label>
                            <textarea class="form-control form-control-sm" type="text"

                                      [(ngModel)]="assetQuery.shippingAddress"
                                      [ngModelOptions]="{standalone: true}"
                                      rows="3" cols="50"
                                      placeholder="Enter Shipping Address" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="tile-footer">
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-3">
                                            <div class="alert alert-danger col-md-12" role="alert" *ngIf="allErrors.length">
                                                <ul>
                                                    <li *ngFor="let error of allErrors">{{error}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                    <div class="row">
                        <div class="col-md-12 col-md-offset-3">
                            <div class="pull-right">
                                <button id="save-client-button"
                                        class="btn btn-sm btn-all-shadow waves-effect waves-light btn-danger"
                                        (click)="addorUpdateAsset()">{{assetRequisitionId ? 'Update' : 'Save'}}
                                </button>
                                &nbsp;&nbsp;&nbsp;
                                <button id="cancel-client-button"
                                        class="btn btn-sm btn-all-shadow waves-effect waves-light btn-dark"
                                        (click)="cancel()">
                                    <i class="fa fa-fw fa-times-circle"></i>
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
