<div class="app-content">
    <div class="app-title">
        <div class="">
            <h1>
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                DashBoard
            </h1>
            <!--            <p>DashBoard</p>-->
        </div>
        <h1 style="text-align: center;cursor: default">
            <b style="color: #f3cc1400">WHIZZARD</b>
        </h1>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><span class="fa fa-home fa-lg"></span></li>
            <li class="breadcrumb-item"><span class="breadcrumb-item-router">DashBoard</span></li>
        </ul>
    </div>
</div>
